<%= @product.name %><br>
<%= @product.description %><br>
<%= @product.price %><br>

<% @product.reviews.each do |review| %>
  <li><%= review.content %></li>
<% end %>

<%= link_to "New Review", new_product_review_path(@product.id) %>
