<nav>
  <div class="nav-wrapper grey">
    <a href="/" class="brand-logo">Just Smile</a>
    <% if user_signed_in? %>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <div class="chip">
          <%= current_user.email %>
        </div>
        <% if current_user.admin == true %>
          <li> <%= link_to "New Product", new_product_path %></li>
        <% end %>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
        <% else  %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", user_session_path %></li>
        </ul>
    <% end %>
  </div>
</nav>
